<div class="card" >
  <div class="card-body">
    <div class="row mb-5">
      <div class="col-12">
        <h5>Upload Image</h5>
        <form class="post-form" method="POST" (ngSubmit)="onSubmit($event)" [formGroup]="imageForm" >

          <div class="row">
            <div class="col-6">

            </div>
          </div>
          <div class="row">
            <div class="col-12">
                <label>Label</label>
                <input type="text" class="form-control" placeholder="Title" name="Title" formControlName="Title">
              </div>
          </div>
          <!-- <div class="row mt-3">
            <div class="col-12">
              <label>Description</label>
              <textarea class="form-control"  formControlName="description"></textarea>
            </div>
          </div> -->

          <div class="row mt-3">
            <div class="col-12">

              <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)">
                <ngx-dropzone-label>
                  <div>
                    <h2>Dropzone</h2>
                  </div>
                </ngx-dropzone-label>
                <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)" >
                  <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                </ngx-dropzone-image-preview>
              </div>
              <!-- <div class="custom-file-upload">
                <label for="file-upload" class="custom-file-upload1">
                  <i class="fa fa-cloud-upload"></i> Choose File
                </label>
                <input #file  type="file" id="file-upload" accept='image/*' (change)="preview(file.files)" class="form-control"  formControlName="image">
              </div> -->
            </div>
          </div>

          <div class="row mt-3">
            <div class="col">
                <button class="btn btn-primary" type="submit" [disabled]="!imageForm.valid">Save Image & Title</button>
            </div>
          </div>
        </form>
      </div>


</div>


